
header {
    width: 100%;
    height: 667px;
    background-color: aquamarine;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Ajoute un espacement sous le titre */
}

.title-logo {
    font-size: 1.8rem; /* Ajuste la taille du texte du titre */    
    color: rgba(255, 255, 255, 1);
}

.outer-ellipse {
    width: 24px; /* Taille du cercle externe */
    height: 24px;
    background-color: white; /* Couleur blanche pour l'ellipse externe */
    border-radius: 50%; /* Crée un cercle */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black; /* Bordure noire pour simuler l'ellipse noire */
    margin-left: 10px; /* Ajoute un espace entre le titre et l'ellipse */
}

.middle-ellipse {
    width: 18px; /* Taille du cercle intermédiaire */
    height: 18px;
    background-color: black; /* Couleur noire pour l'ellipse intermédiaire */
    border-radius: 50%; /* Crée un cercle */
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-ellipse {
    width: 12px; /* Taille du cercle interne */
    height: 12px;
    background-color: white; /* Couleur blanche pour l'ellipse interne */
    border-radius: 50%; /* Crée un cercle */
}

/*barre de recherche */
.search-wrapper {
    position: relative;
    display: flex;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    align-items: center;
    top: 350px;
    transform: translateX(-50%);
}

.search-input .form-control {
    position: relative;
    height: 70px; /* Hauteur de l'input */
    width: 954px; /* Largeur de l'input, ajuste selon tes besoins */
    border-radius: 10px; 
}

.search-button .btn {
    position: relative;
    right: 60px;
    background-color: rgba(27, 27, 27, 1);
    color: white;
    height: 50px; /* Même hauteur que l'input */
    padding: 0 15px;
    border-radius: 10px; /* Bordures arrondies à droite */
}

.search-button .btn:hover {
    background-color: rgba(27, 27, 27, 0.5); /* Couleur de survol pour le bouton */
}
